.header-ku {
    display: flex;
    border-bottom: 1px solid #ebebeb;
    height: 50px;
    align-items: center;
}

.web-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-inline: auto;
}

.web-logo a {
    color: #606060;
}

.web-logo a:hover {
    text-decoration: none;
}

.header-ku .search-area {
    flex: 1;
    display: flex;
}

.header-ku .search-area input {
    border: 1px solid #ebebeb;
}

.header-ku .search-area .button-ku {
    color: white;
    background-color: rgb(65, 65, 65);
    border: 1px solid black;
    padding: 5px 10px;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.header-ku .search-area .button-ku:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.header-ku .account-area {
    flex: 1;
    display: flex;
    justify-content: right;
}

.header-ku .account-area a {
    color: black;
}

.header-ku .account-area a:hover {
    text-decoration: none;
}

.header-akhir {
    border-bottom-color: #ebebeb;
    border-bottom-width: 1px;
    border-bottom-style: double;
    margin-bottom: 20px;
}

.user-dropdown {
    color: black;
    background-color: white;
    border-style: none;
}

.user-dropdown:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    border-style: none;
}

.user-dropdown:active {
    background-color: white;
}