.shopping-cart-title {
    border-bottom: 1px solid #ebebeb;
}

.button-ku {
    color: white;
    background-color: rgb(65, 65, 65);
    border: none;
    padding: 5px 10px;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.button-ku:hover {
    background-color: rgb(254, 82, 82);
    border: none;
    color: white;
}

.button-ku-checkout {
    color: white;
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(65, 65, 65);
    padding: 5px 10px;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.button-ku-checkout:hover {
    background-color: white;
    border: 1px solid rgb(65, 65, 65);
    color: rgb(65, 65, 65);
}

.alert-ku {
    position: relative;
    padding: 5px 10px;
    border: 1px solid transparent;
    margin-top: 5px;
}

.button-ku-delete {
    color: white;
    background-color: rgb(65, 65, 65);
    border: none;
    padding: 5px 10px;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.button-ku-delete:hover {
    background-color: rgb(254, 82, 82);
    border: none;
    color: white;
}